.nav-wrapper {
  width: 100%;
  font-size: 18px;
  margin-bottom: 50px;
  padding: 0px 15px;
  border-radius: 2px;
  border: solid green 2px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

@media screen and (max-width: 900px) {
  .nav-wrapper {
    font-size: 14px;
  }
  a.brand-logo {
    font-size: 18px;
  }
    
}
@media screen and (max-width: 600px) {
  .nav-wrapper {
    font-size: 10px;
  }
  a.brand-logo {
    font-size: 14px;
  }
    
}


