.click-item.col {
  border-radius: 2px;
  border: solid green 2px;
  height: 150px;
  margin: 1rem;
  position: relative;
  width: 150px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
}

.click-item > .img-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.click-item > .img-container > img {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.click-item.col:hover .img-container > img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  width: 175px;
  height: 175px;

}


/* .card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
} */
